<form class="simple_form new_answer" id="new_answer" novalidate="novalidate" action="/answers" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input type="hidden" name="authenticity_token" value="xi+TfPF7v83ZgZZn6jws64ny+0e0FavQsjxhc9SzfpOqt/HQ9gbEBtxSR6x2/eqVrWBmUO+stY7ecn/bzEzAWQ==" />
  <div class="align-inputs">
    <div class="form-group string required answer_name" style="margin-right: 5px">
      <label class="form-control-label string required lemon" for="answer_name">Votre nom <abbr title="required">*</abbr></label>
      <input class="form-control string required input-box" type="text" name="answer[name]" id="answer_name" />
    </div>
    <div class="form-group email required answer_email">
      <label class="form-control-label email required lemon" for="answer_email">Votre email <abbr title="required">*</abbr></label>
      <input class="form-control string email required input-box" type="email" name="answer[email]" id="answer_email" />
    </div>
  </div>
  <div class="answer-section">
  <!-- <fieldset class="form-group radio_buttons optional answer_answer_dinner"> -->
    <div class="col-form-label pt-0 lemon">Aurons-nous le plaisir de vous avoir à diner?</div>
    <input type="hidden" name="answer[answer_dinner]" value="" />
    <div class="check-inputs">
      <div class="form-check">
        <input class="form-check-input radio_buttons optional" type="radio" value="true" name="answer[answer_dinner]" id="answer_answer_dinner_true" />
        <label class="collection_radio_buttons" for="answer_answer_dinner_true">Oui</label>
      </div>
      <div class="form-check">
        <input class="form-check-input radio_buttons optional" readonly="readonly" type="radio" value="false" name="answer[answer_dinner]" id="answer_answer_dinner_false" />
        <label class="collection_radio_buttons" for="answer_answer_dinner_false">Non</label>
      </div>

    </div>
  <!-- </fieldset> -->

    <div class="form-group select optional answer_nb_dinner dinner-answer">
      <label class="form-control-label select optional lemon" for="answer_nb_dinner">Combien serez-vous?</label>
      <select class="form-control select optional small-width" name="answer[nb_dinner]" id="answer_nb_dinner">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </div>
  </div>
  <div class="answer-section">

    <!-- <fieldset class="form-group radio_buttons optional answer_answer_brunch"> -->
      <div class="lemon">Aurons-nous le plaisir de vous avoir à bruncher?</div>
      <input type="hidden" name="answer[answer_brunch]" value="" />
      <div class="check-inputs">
        <div class="form-check">
          <input class="form-check-input radio_buttons optional" type="radio" value="true" name="answer[answer_brunch]" id="answer_answer_brunch_true" />
          <label class="collection_radio_buttons" for="answer_answer_brunch_true">Oui</label>
        </div>
        <div class="form-check">
          <input class="form-check-input radio_buttons optional" readonly="readonly" type="radio" value="false" name="answer[answer_brunch]" id="answer_answer_brunch_false" />
          <label class="collection_radio_buttons" for="answer_answer_brunch_false">Non</label>
        </div>

      </div>
    <!-- </fieldset> -->
    <div class="form-group select optional answer_nb_brunch dinner-answer">
      <label class="form-control-label select optional lemon" for="answer_nb_brunch">Combien serez-vous?</label>
      <select class="form-control select optional small-width" name="answer[nb_brunch]" id="answer_nb_brunch">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </div>
  </div>
  <input type="submit" name="commit" value="Envoyer ma réponse" data-disable-with="Create Answer" class="yellow-button" />
</form>
