<div class="white-frame full-height">
  <div class="center-white">
    <div class="section-title">
      <%= image_tag("Olive1.png", size: "30") %><h2>RSVP</h2><%= image_tag("Olive1.png", size: "30", class:"left-olive") %>
    </div>
    <%= render "shared/form", answer: @answer %>
    <%#= link_to "Répondre", new_answer_path %>
  </div>
</div>
