<h1>Bienvenue sur notre site de mariage !</h1>
<p>Merci de vous identifier</p>
<form action="/home" method="get">
  <input type="text" name="email" placeholder="Merci de renseigner votre email">
  <input type="submit" value="Entrez">
</form>
