<div class="full-height" id="landing-banner">
  <div id="landing-white-frame">
    <h1>Bienvenue sur le site de mariage de <br>Louise & Guillaume !</h1>
    <p>Merci de vous identifier</p>
    <form action="/home" method="get">
      <input type="email" name="email" placeholder="Merci de renseigner votre email", required="required">
      <input type="submit" value="Entrez" class="yellow-button" id="landing-button">
    </form>

  </div>

</div>
