<div class="full-height" id="landing-banner">
  <div id="landing-white-frame">
    <h1>Bienvenue sur le site de mariage de <br>Louise & Guillaume !</h1>
    <p>Merci de vous identifier</p>
    <form action="/home" method="get">
      <input type="text" name="email" placeholder="Merci de renseigner votre email">
      <input type="submit" value="Entrez" class="yellow-button">
    </form>

  </div>

</div>
