#footer {
  background-color: $white;
  // position: absolute;
  // bottom: 0;
  width: 100%;
  text-align: right;
  padding: 10px;
  height: 70px;

  p {
    margin-bottom: 0;
    padding: 13px;
  }
}
