// responsive design

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.align-inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-box {
  flex: 0 0 50%;
}

#rsvp-form {
  padding: 0 20px;
}

abbr {
  color: $red;
  text-decoration: none;
}

.answer-section {
  // padding: 20px 0 0 0;
  width: 100%;

  div {
    padding-bottom: 10px;
    flex-wrap: wrap;
  }
}

.answer-title {
  font-size: 18px !important;
  font-weight: 700;
  border-bottom: none;
  width: 50%
}

.check-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-evenly;
}

// .small-width {
//   width: 10%;
// }

.round-green {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: $green;

  &:active {
    background-color: red;
  }
}

.flex {
  display: flex;
}

.dinner-answer {
  display: flex;
  justify-content: space-between;
}

.adapt-length {
  flex: 0 0 45%;
}

.adapt-length-smaller {
  flex: 0 0 10%;
  height: 10%;
}

.lemon::before {
  content: url("Lemon6.png");
}

.form-title {
  text-align: left;

  font-size: 24px;
  padding-bottom: 10px;
}

.form-section {
  width: 100%;
  padding-bottom: 15px;
}

.lighter {
  font-weight: lighter;
}

.yellow-button {
  text-align: center;
  padding: 10px;
  background-color: $yellow;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.11);
  width: 200px;
  margin: 20px 10px 50px;
  transition: all 0.5s ease-out;
  text-decoration: none;
  color: $black;

  &:hover {
    background-color: $green;
    color: white;
  }
}
